$brand-color : #34495e;
$accent-color: #1abc9c;
$dark-grey-color: #bdc3c7;
$light-grey-color: #ecf0f1;

.btn {
  margin-right: 10px;
  cursor: pointer;
  border-color: currentColor;
}
.btn:hover {
  border-color: currentColor!important;

}
.btn-primary {
  color: white;
  background-color: $brand-color;

  i {
    color: white;
  }
}
.btn-primary:hover {
  background-color: darken($brand-color, 20%);
}

.btn-warning {
  color: white;
  background-color: $accent-color;

  i {
    color: white;
  }
}
.btn-warning:hover {
  background-color: darken($accent-color, 20%);
}
